<template>
  <v-app>
    <div v-if="showAuth">
      <UserAuth v-on:authOk="showAuth = false, showQuery = true, loadingResults = true"/>
    </div>
    <div v-else>
      <v-container class="pa-2 ma-2">
        <AssetCreator v-if="showCreator" :visible="showCreator" @close="showCreator=false" />
        <Query></Query>
        <QueryResultsFiltered/>
        <v-footer fixed>
          <v-tooltip top>
              <v-btn icon slot="activator" @click.stop="showCreator=true">
                  <v-icon>add</v-icon>
              </v-btn>
              <span>Create new asset</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip top>
            <div slot="activator">V4Design</div>
            <span>Version: {{c_version}}</span>
          </v-tooltip>
          <v-tooltip top>
              <v-btn icon slot="activator">
                  <v-icon>info</v-icon>
              </v-btn>
              <span>This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 779962</span>
          </v-tooltip>
          <v-tooltip top>
              <v-btn icon slot="activator" @click.native='openDevTools'>
                  <v-icon>settings</v-icon>
              </v-btn>
              <span>Debug</span>
          </v-tooltip>
        </v-footer>
      </v-container>
      <v-snackbar v-model="importSent" :timeout=6000 >
      Asset Import request sent.
        <v-btn
          color="pink"
          flat
          @click="importSent = false"
        >
          Close
        </v-btn>
    </v-snackbar>
    <v-snackbar v-model="importResult" :timeout=6000 >
      Asset Import {{ importData }}.
        <v-btn
          color="pink"
          flat
          @click="importResult = false"
        >
          Close
        </v-btn>
    </v-snackbar>
    </div>
  </v-app>
</template>

<script>
import Query from './components/Query.vue'
import QueryForm from './components/QueryForm.vue'
import QueryResultsFiltered from './components/QueryResultsFiltered.vue'
import AssetLibrary from './components/AssetLibrary.vue'
import UserAuth from './components/UserAuth.vue'
import AssetCreator from './components/AssetCreator'
import { EventBus } from './eventbus'
export default {
  name: 'App',
  components: {
    QueryForm,
    QueryResultsFiltered,
    AssetLibrary,
    UserAuth,
    Query,
    AssetCreator
  },
  data () {
    return {
      active: null,
      items: [
        'Query', 'Library'
      ],
      showAuth: true,
      showQuery: false,
      loadingResults: false,
      showCreator: false,
      importResult: false,
      importSent: false,
      importData: ''
    }
  },
  mounted () {
    EventBus.$on('LOADING_RESULTS', (data) => {
      console.log(data)
      this.loadingResults = data
    })
    EventBus.$on('IMPORT_ASSET_SENT', (data) => {
      this.$data.importSent = data
    })
    EventBus.$on('IMPORT_ASSET_RESULT', (data) => {
      this.$data.importData = data
      this.$data.importResult = true
    })
  },
  computed: {
    c_version () {
      return this.$store.getters.version
    }
  },
  methods: {
    openDevTools () {
      // eslint-disable-next-line
      Interop.devTools()
    }
  }
}
</script>
