<template>
  <v-app>
    <v-container class="pa-0 ma-0">
      <div v-if="showAuth">
        <UserAuth
          v-on:loginOk="showAuth = false"
          v-on:registerOk="showAuth = false"
        ></UserAuth>
      </div>
      <div v-else>
        <AssetExplorer />
      </div>
    </v-container>
  </v-app>
</template>

<script>
import UserAuth from './components/UserAuth'
import AssetExplorer from './components/AssetExplorer'
export default {
  name: 'App',
  components: {
    UserAuth,
    AssetExplorer
  },
  data () {
    return {
      showAuth: true
    }
  }
}
</script>

<style>

</style>
