<template>
  <div>

    <v-tooltip top>
      <v-btn fab flat small @click="showAdvanced = !showAdvanced" slot="activator">
        <v-icon> {{showAdvanced ? 'keyboard_arrow_up':'keyboard_arrow_down'}} </v-icon>
      </v-btn>
      <span>Filter Options</span>
    </v-tooltip>

    <v-expand-transition>
      <div v-show="showAdvanced">
        <v-container fluid>
          <v-layout row wrap>
            <v-flex xs4>
              <v-switch small v-model="fullSwitch" label="full assets" @change="updateOptions"></v-switch>
            </v-flex>
            <v-flex xs4>
              <v-switch small v-model="basicSwitch" label="basic assets" @change="updateOptions"></v-switch>
            </v-flex>
            <v-flex xs4>
              <v-switch small v-model="bimSwitch" label="bim assets" @change="updateOptions"></v-switch>
            </v-flex>
            <v-flex xs4>
              <v-switch small v-model="bookmarkedSwitch" label="bookmarked assets" @change="updateOptions"></v-switch>
            </v-flex>
            <v-flex xs4>
              <v-switch small v-model="downloadedSwitch" label="downloaded assets" @change="updateOptions"></v-switch>
            </v-flex>
            <!--
            <v-flex xs12>
              <v-text-field
                  label="Location"
                  v-model = "locationText"
                  @input="updateOptions"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                  label="Type"
                  v-model = "typeText"
                  @input="updateOptions"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                  label="Style"
                  v-model = "styleText"
                  @input="updateOptions"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                  label="Source"
                  v-model = "sourceText"
                  @input="updateOptions"
              ></v-text-field>
            </v-flex>
            -->
          </v-layout>
        </v-container>
      </div>
    </v-expand-transition>

  </div>
</template>

<script>
import { EventBus } from '../eventbus'
export default {
  name: 'AdvancedQuery',
  data: () => ({
    showAdvanced: false,
    assetOptions: [],
    locationText: '',
    sourceText: '',
    styleText: '',
    typeText: '',
    fullSwitch: false,
    basicSwitch: false,
    bookmarkedSwitch: false,
    downloadedSwitch: false,
    bimSwitch: false
  }),
  watch: {
    assetOptions () {
      // this.$store.commit('FILTER_QUERY', { 'query': 'options', 'data': this.assetOptions })
    }
  },
  mounted () {
    // this.assetOptions = this.$store.getters.assetOptions
    EventBus.$on('CLEAR_OPTIONS', (data) => {
      this.fullSwitch = false
      this.basicSwitch = false
      this.bookmarkedSwitch = false
      this.downloadedSwitch = false
      this.bimSwitch = false
    })
  },
  methods: {
    updateOptions () {
      let options = {
        'sourceText': this.sourceText,
        'locationText': this.locationText,
        'styleText': this.styleText,
        'typeText': this.typeText,
        'fullSwitch': this.fullSwitch,
        'basicSwitch': this.basicSwitch,
        'downloadedSwitch': this.downloadedSwitch,
        'bookmarkedSwitch': this.bookmarkedSwitch,
        'bimSwitch': this.bimSwitch
      }
      console.log(options)
      this.$store.commit('FILTER_OPTIONS', { 'query': 'options', 'options': options })
    }
  }
}
</script>

<style>

</style>
