<template>
<v-container fluid grid-list-x1>
    <v-layout row wrap>
      <div v-if="assets.length === 0 && assets.length > 0 ">No matches</div>
      <v-flex v-for='asset in assets' :key="asset">
          <ElementCard :key="asset.id" :asset="asset"></ElementCard>
      </v-flex>
    </v-layout>
</v-container>
</template>

<script>
import ElementCard from './ElementCard.vue'
export default {
  name: 'AssetCollection',
  components: {
    ElementCard
  },
  props: {
  },
  computed: {
    assets () {
      return this.$store.getters.assets
    }
  }
}
</script>

<style>

</style>
