<template>
  <v-container class="pa-0 ma-0">
    <v-toolbar flat>Search</v-toolbar>
    <AssetCollection/>
    <v-footer fixed>
      <v-toolbar>Footer Tools</v-toolbar>
    </v-footer>
  </v-container>
</template>

<script>
import AssetCollection from './AssetCollection'
export default {
  name: 'AssetExplorer',
  components: {
    AssetCollection
  },
  data: () => ({
    windowHeight: 0 + 'px'
  }),
  mounted () {
    this.$nextTick(function () {
      window.addEventListener('resize', this.getWindowHeight)

      // Init
      this.getWindowHeight()
    })
  },
  methods: {
    getWindowHeight (event) {
      this.windowHeight = (document.documentElement.clientHeight - 150) + 'px'
      console.log(this.windowHeight)
    }
  }
}
</script>

<style>

</style>
