<template>
  <v-dialog v-model="show" hide-overlay transition="dialog-transition" class="pop">
    <v-card>
      <v-card-title>
          <span class="headline">Create Asset</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Asset name" hint="example of helper text only on focus" v-model="name"></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Asset description" hint="example of persistent helper text" v-model="description"
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Asset tags" hint="Add a list of comma separated tags." v-model="tags"></v-text-field>
              </v-flex>
              <v-flex xs12>
                Media file*:
                <v-btn color="black darken-1" flat @click="fileExplorer">Choose File</v-btn>
                {{files[0]}}
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="black darken-1" flat @click="show = false">Cancel</v-btn>
          <v-btn color="black darken-1" flat @click="submitAsset">Submit</v-btn>
        </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from '../eventbus'
export default {
  name: 'AssetCreator',
  props: {
    visible: Boolean
  },
  data () {
    return {
      files: [],
      name: null,
      description: null,
      tags: null
    }
  },
  computed: {
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
          // console.log(this.parentContainer)
        } else {
          // console.log(this.parentContainer)
        }
      }
    }
  },
  methods: {
    fileSelected (e) {
      this.files = e.target.files
    },
    async submitAsset () {
      console.log(this.files[0])
      let data = {}
      data.file = this.files[0]
      data.name = this.name
      data.description = this.description
      data.tags = this.tags

      EventBus.$emit('IMPORT_ASSET_SENT', true)
      this.show = false

      // eslint-disable-next-line
      await Interop.importAsset(data).then( response => {
        console.log(response)
        EventBus.$emit('IMPORT_ASSET_RESULT', response)
      })
    },
    fileExplorer () {
      // eslint-disable-next-line
      Interop.selectFile()
    }
  },
  mounted () {
    EventBus.$on('file-selected', (data) => {
      this.files = []
      console.log(data)
      console.log(atob(data))
      this.files.push(atob(data))
    })
  }
}
</script>

<style>

</style>
