<template>
  <v-container>
    <v-layout>
        <v-flex flexbox>
            <v-card flat>
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                    <template v-for='asset in assets'>
                        <ResultElelement :key="asset.id" :asset="asset" :parentContainer="container"></ResultElelement>
                    </template>
                    </v-layout>
                </v-container>
            </v-card>
        </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ResultElelement from './ElementCard.vue'
export default {
  name: 'AssetLibrary',
  components: {
    ResultElelement
  },
  data: () => ({
    container: 'library'
  }),
  computed: {
    assets () {
      return this.$store.getters.localAssets
    }
  }

}
</script>

<style>

</style>
