<template>
    <v-card v-observe-visibility="{
      callback: visibilityChanged,
      once: true,
    }">
        <ElementDetails v-if="showDialog" :asset="asset" :visible="showDialog" @close="showDialog=false" :parentContainer="parentContainer"/>
        <v-img
          class="thing"
          v-if="isVisible"
          :src="asset.thumbnailUrl"
          :lazy-src="asset.thumbnailUrl"
          @click.stop="showDialog=true"
          style="cursor:pointer;"
          width="100" max-width="100"
          max-height="100"
          aspect-ratio="1"
          @mouseover="hover = true"
          @mouseleave="hover = false"
          >
          <div v-if="isFullAsset">
            <v-icon dark>3d_rotation</v-icon>
            <div v-if="hasBIM">
              <v-icon dark>apartment</v-icon>
            </div>
          </div>
          <div v-else>
            <v-icon dark>visibility</v-icon>
          </div>
          <div v-if="hover" flat>
            <v-card color="rgba(255, 255, 255, 0.5)" style="font-size: 0.8em;">
              <div v-if="asset.name !== 'Undefined'">name: {{ asset.name }}</div>
              <div>rating: {{ asset.latestRatings.average }}</div>
            </v-card>
          </div>
          <!--
          <v-rating
            small
            color="yellow"
            background-color="white lighten-1"
            v-model="rating"
            empty-icon="star_rate"
            full-icon="star_rate"
            style="position: absolute;  bottom: 0;  left: 0;"
            hover="true"
          ></v-rating>
          -->
        </v-img>
        <!--
        <v-card-title primary-title>
          <div class="text-truncate">
            {{ asset.name }}
          </div>

        </v-card-title>-->
        <v-card-actions style="padding: 2px">
          <ElementActions :asset='asset'/>
        </v-card-actions>
    </v-card>
</template>

<script>
import ElementDetails from './ElementDetails.vue'
import ElementActions from './ElementActions.vue'
export default {
  name: 'ElementCard',
  components: {
    ElementDetails,
    ElementActions
  },
  props: {
    flex: Number,
    asset: Object,
    parentContainer: String
  },
  data: () => ({
    show: true,
    showDialog: false,
    downloadProgress: 0,
    indeterminateProgress: true,
    downloadDone: false,
    addingModel: false,
    isVisible: true,
    rating: 3,
    hover: false
  }),
  computed: {
    isFullAsset: function () {
      return this.asset.downloadUrl
    },
    hasBIM: function () {
      return this.asset.bim.length > 0
    }
  },
  mounted () {
    /*
    console.log(this.$el)
    const rect = this.$el.getBoundingClientRect()
    console.log(rect.left)
    console.log(rect.top)
    if (rect.top < 1000) {
      this.$data.show = true
    }
    */
    // this.resizeImg()
  },
  methods: {
    resizeImg () {
      // console.log('calling resize')
      // eslint-disable-next-line
      // Interop.resizeImg(this.asset.thumbnailUrl, 150, 150)
    },
    visibilityChanged (isVisible, entry) {
      this.isVisible = isVisible
      // console.log(entry)
    }
  }
}
</script>

<style>

</style>
