<template>
    <v-dialog v-model="show" hide-overlay transition="dialog-transition" class="pop">
        <v-card>
          <v-btn
              fixed
              dark
              fab
              top
              left
              color="black"
              small
              @click="show = !show"
            >
              <v-icon>close</v-icon>
            </v-btn>
            <v-img :src="asset.thumbnailUrl" :lazy-src="asset.thumbnailUrl" @click.stop="showDialog=true" style="cursor:pointer;"
            @contextmenu.native="handler"
            ></v-img>
            <v-card-title primary-title>
                <h4 v-if="asset.name !== 'Undefined'" class="headline">{{asset.name}}</h4>
            </v-card-title>
            <v-container>
                <v-card v-if="c_englishDescription.length > 0" flat>description: {{ c_englishDescription }}</v-card>
                <v-card v-if="asset.hasOwnProperty('location') && asset.location !== ''" flat>
                    Location: {{asset.location.replace('_', ' ')}}
                </v-card>
                <v-divider v-if="c_hasTags"></v-divider>
                <v-card v-if="c_hasTags" flat>
                    tags:
                    <v-chip color="grey darken-4" text-color="white"
                     v-for='(tag,index) in asset.tags'
                    :key="index"
                    hover
                    >{{tag}}</v-chip>
                </v-card>
                <v-divider v-if="c_hasBIM"></v-divider>
                <v-card v-if="c_hasBIM" flat>
                    <v-card flat>
                      <!--
                      <v-btn @click="getBIM" :disabled="true">
                          Get BIM
                      </v-btn>
                      -->
                      BIM Data:
                      <ul>
                      <li
                      v-for='(data, index) in c_cleanBIMData'
                      :key="index"
                      >{{ data.key + ": " + data.value }}
                      </li>
                      </ul>
                    </v-card>
                </v-card>
                <v-divider></v-divider>
                <v-card flat>
                  Comments:
                  <ul>
                  <li
                  v-for='(comment, index) in c_comments'
                  :key="index"
                  >{{comment}}
                  </li>
                  </ul>
                </v-card>
                <v-divider></v-divider>
                <v-card flat>
                  <table>
                    <tr>
                      <td>Rating:</td>
                      <td>
                        <v-rating
                        color="yellow"
                        background-color="grey lighten-1"
                        v-model="rating"
                        empty-icon="star_rate"
                        full-icon="star_rate"
                        hover
                        readonly
                        dense
                        small
                        >
                        </v-rating>
                      </td>
                    </tr>
                  </table>
                </v-card>
                <v-divider v-if="c_hasShots"></v-divider>
                <!--<v-tooltip top>
                  <v-btn fab flat small @click="showReconstruction = !showReconstruction" slot="activator">
                    <v-icon> {{showReconstruction ? 'keyboard_arrow_up':'keyboard_arrow_down'}} </v-icon>
                  </v-btn>
                  <span>Reconstruction</span>
                </v-tooltip> -->
                <v-card v-if="c_hasShots" flat>
                    <ShotsContainer :asset="asset" />
                </v-card>
                <v-divider v-if="c_hasTextures"></v-divider>
                <v-card v-if="c_hasTextures" flat>
                  Textures:
                    <TexturesContainer :asset="asset" />
                </v-card>
                <v-divider></v-divider>
                <br>
                <v-card flat id="assetData">
                  <h6>
                    Asset Id: {{asset.assetId}}
                  </h6>
                  <!--
                  <h6>
                    KBID: {{asset.kbid}}
                  </h6>
                  <h6>
                    simmo: {{asset.simmo}}
                  </h6>
                  -->
                </v-card>
                <v-card flat v-if="c_hasBasicAssetList" id="assetData">
                  <h6>Basic Assets:</h6>
                  <ul>
                    <li
                    v-for='(assetId, index) in asset.basicAssets'
                    :key="index"
                    >
                      <h6>{{assetId}}</h6>
                    </li>
                  </ul>
                </v-card>
            </v-container>
            <!-- Bottom Content  -->
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <ElementActions :asset='asset'/>
            </v-card-actions>
        </v-card>
        <v-menu
          v-model="showMenu"
          :position-x="x"
          :position-y="y"
          absolute
          offset-y
        >
        <v-list>
          <v-list-tile
            v-for="(item, index) in items"
            :key="index"
            @click="convertToMaterial"
          >
            <v-list-tile-title  style="font-size: 0.8em;">{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    <v-snackbar
      v-model="materialMade"
      :timeout=6000
    >
      Rhino material created.
      <v-btn
        color="pink"
        flat
        @click="materialMade = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    </v-dialog>
</template>

<script>
import ElementActions from './ElementActions.vue'
import ShotsContainer from './ShotsContainer.vue'
import TexturesContainer from './TexturesContainer.vue'
export default {
  name: 'ElementDetails',
  components: {
    ElementActions,
    ShotsContainer,
    TexturesContainer
  },
  props: {
    visible: Boolean,
    assetType: String,
    asset: Object,
    parentContainer: String
  },
  data: () => ({
    dialog: false,
    bottomNav: 'recent',
    dialogModel: false,
    downloadProgress: 0,
    indeterminateProgress: true,
    downloadDone: false,
    showReconstruction: false,
    selectedShots: [],
    tags: [],
    showMenu: false,
    x: 0,
    y: 0,
    items: [
      { title: 'Convert to Material' }
    ],
    materialMade: false
  }),
  computed: {
    show: {
      get () {
        console.log(this.asset)
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
          // console.log(this.parentContainer)
        } else {
          // console.log(this.parentContainer)
        }
      }
    },
    rating: {
      get () {
        return this.asset.latestRatings.average
      },
      set (value) {
        console.log(value)
        // eslint-disable-next-line
        Interop.rate( {assetId: this.asset.assetId, rating: value })
      }
    },
    c_englishDescription: function () {
      if (this.asset.description !== null) {
        for (var i = 0; i < this.asset.description.length; i++) {
          var description = this.asset.description[i]
          if (description.key === 'EnglishDescription') {
            console.log(description.value)
            console.log(this.asset.latestRatings)
            return description.value
          }
        }
      }
      return ''
    },
    c_hasShots: function () {
      if (this.asset.shots !== null) {
        return true
      }
      return false
    },
    c_hasTags: function () {
      if (this.asset.tags !== null) {
        return true
      }
      return false
    },
    c_has3dPreview: function () {
      if (this.asset['3DModelThumbnailUrl'] !== null) {
        return true
      }
      return false
    },
    isFullAsset: function () {
      return this.asset.downloadUrl
    },
    c_comments: function () {
      return this.asset.latestRatings.ratings.map(r => {
        if (r.comment && r.comment.length > 0) {
          return r.comment
        }
      })
    },
    c_hasBIM: function () {
      return this.asset.bim.length > 0
    },
    c_cleanBIMData: function () {
      if (this.asset.bim.length > 0) {
        return this.asset.bim.filter(b => {
          if (b.key !== 'FileURL') {
            return true
          }
          return false
        })
      }
      return null
    },
    c_hasTextures: function () {
      return this.asset.textures !== null && this.asset.textures.length > 0
    },
    c_hasBasicAssetList: function () {
      return this.asset.basicAssets !== null && this.asset.basicAssets.length > 0
    }
  },
  methods: {
    textureSelection (src) {
      // console.log(src)
      let textureData = {
        id: this.asset.assetId,
        texId: src
      }

      // eslint-disable-next-line
      Interop.updateTexture(textureData)
    },
    startSegmentation () {
      console.log('call segmentation')
      console.log(this.asset.kbid)
      // eslint-disable-next-line
      Interop.startSegmentation(this.asset.kbid)
    },
    getSegmentation () {
      console.log('call get segmentation')
      console.log(this.asset.kbid)
      // eslint-disable-next-line
      Interop.getSegmentation(this.asset.kbid) //TODO: change this 
    },
    getBIM: function () {
      let args = { url: this.asset.bim[5].value, id: this.asset.assetId }
      // eslint-disable-next-line
      Interop.downloadAsset(args)
    },
    handler: function (e) {
      // do stuff
      e.preventDefault()
      this.showMenu = false
      this.x = e.clientX
      this.y = e.clientY
      this.$nextTick(() => {
        this.showMenu = true
      })
    },
    rate: function (e) {
      console.log(e)
    },
    handleRatingChange (props) {
      console.log(props.index + 1)
      this.rating = props.index + 1
    },
    convertToMaterial () {
      console.log('convert image to material')
      this.showMenu = false
      this.materialMade = true
      // eslint-disable-next-line
      console.log(Interop)
      // eslint-disable-next-line
      Interop.createMaterial(this.asset.thumbnailUrl)
      // window.location.replace('v4d://createMaterial/')
    }
  }
}
</script>

<style scoped>
.cardHover:hover, .selected{
  background-color:black;
}
/*
#assetData li:hover {
  background-color:rgb(254, 255, 169);
  cursor: pointer;
}*/
</style>
