<template>
  <div style="display:flex;">
    <v-tooltip top>
        <v-btn icon slot="activator" @click.native='bookmark' small>
            <v-icon :color="isBookmarked">bookmark</v-icon>
        </v-btn>
        <span>Bookmark</span>
    </v-tooltip>
    <v-tooltip top>
        <v-btn icon slot="activator" @click.native='rateandcomment' small>
            <v-icon>star_rate</v-icon>
        </v-btn>
        <span>Rate and Comment</span>
    </v-tooltip>
    <div v-if="isFullAsset">
      <!-- If the asset has been downloaded -->

      <div v-if="this.asset.downloadUrl !== null && this.asset.downloadUrl.includes('C:')">
        <v-tooltip  top>
          <v-btn small icon slot="activator" @click.native='addModel' :disabled="this.asset.modelUrl === null || this.asset.modelUrl === '' ? true : false">
            <v-icon>add</v-icon>
          </v-btn>
          <span>Add the asset to the Rhino model.</span>
        </v-tooltip>
      </div>

      <!-- If the asset has not been downloaded -->

      <div v-else>
        <div v-if="downloadProgress == 0">
          <v-tooltip top>
            <v-btn small icon slot="activator" @click.native='downloadModel' :disabled="!this.asset.hasOwnProperty('downloadUrl') || this.asset.downloadUrl === null || this.asset.downloadUrl === '' ? true : false">
              <v-icon>cloud_download</v-icon>
            </v-btn>
            <span v-if="asset.downloadUrl !== null">Download Model. Check the Library tab for the status.</span>
            <span v-else>This asset does not have any 3d data.</span>
          </v-tooltip>
        </div>
        <div v-if="downloadProgress>0 && !downloadDone">
          <v-progress-circular small :size="20" :width="2" :value="downloadProgress" :indeterminate="indeterminateProgress"></v-progress-circular>
        </div>
        <div v-if="downloadDone">
          <v-tooltip  top>
          <v-btn small icon slot="activator" @click.native='addModel' :disabled="this.asset.downloadUrl === null || this.asset.downloadUrl === '' ? true : false">
            <v-icon>add</v-icon>
          </v-btn>
          <span>Add the asset to the Rhino model.</span>
        </v-tooltip>
        </div>
      </div>
    </div>
    <div v-else>
<!--
      <v-tooltip  top>
          <v-btn icon slot="activator" @click.native='reconstruct'>
            <v-icon>build_circle</v-icon>
          </v-btn>
          <span>Reconstruct this asset.</span>

-->
    </div>

  <Rate :asset="asset" v-if="showRate" :visible="showRate" @close="showRate=false" />
  </div>
</template>

<script>
import { EventBus } from '../eventbus'
import Rate from './RateAndComment.vue'
export default {
  name: 'ElementActions',
  components: {
    Rate
  },
  props: {
    asset: Object
  },
  data: () => ({
    downloadProgress: 0,
    indeterminateProgress: true,
    downloadDone: false,
    addingModel: false,
    showRate: false,
    color: 'grey'
  }),
  computed: {
    isFullAsset: function () {
      return this.asset.downloadUrl
    },
    isBookmarked: function () {
      if (this.$store.getters.bookmarkedAssets.includes(this.asset)) {
        return 'black'
      } else {
        return 'grey'
      }
    },
    hasBIM: function () {
      return this.asset.bim.length > 0 && this.asset.bim[5].value.length > 0
    },
    bimColor: function () {
      return this.hasBIM ? 'black' : 'grey'
    }
  },
  methods: {
    downloadModel () {
      // console.log('UI: Adding Model to Rhino:' + this.asset.name)
      if (this.asset.downloadUrl === '') {
        // window.alert('There is no model data to add to Rhino')
        this.$data.dialogModel = true
      } else {
        // add the asset to the library
        this.$store.commit('ADD_LOCAL_ASSET', this.asset)

        if (this.hasBIM) {
          const urls = [this.asset.downloadUrl, this.asset.bim[5].value]
          const args = { id: this.asset.assetId, urls: urls }
          // eslint-disable-next-line
          Interop.downloadAssets(args)
        } else {
          const args = { url: this.asset.downloadUrl, id: this.asset.assetId }
          // eslint-disable-next-line
          Interop.downloadAsset(args)
        }
      }
    },
    addModel () {
      if (this.parentContainer === 'result') {
        this.$store.commit('ADD_LOCAL_ASSET', this.asset)
      }
      // eslint-disable-next-line
      Interop.addModel(this.asset.assetId)
      this.indeterminateProgress = true
      this.addingModel = true
    },
    bookmark () {
      console.log('about to bookmark')
      this.color = 'black'
      this.$store.commit('ADD_BOOKMARKED_ASSET', this.asset)
    },
    reconstruct () {
      // eslint-disable-next-line
      Interop.reconstruct(this.asset.assetId)
    },
    rateandcomment () {
      // do rate and comment
      console.log('hit rate')
      this.showRate = true
    },
    getSegmentation () {
      console.log('getSegmentation')
      console.log(this.hasBIM)
      console.log(this.asset.bim)
    }
  },
  mounted () {
    // console.log('Asset: ', this.asset)
    // console.log('Parent: ', this.parentContainer)
    EventBus.$on('UPDATE_DOWNLOAD', (data) => {
      // console.log(data)
      // console.log('In Details, dl progress: ' + data[id] + ' ' + this.asset.id)
      if (data === this.asset.assetId) {
        // console.log('In Details, dl progress: ' + data)
        this.downloadProgress = 100
        this.indeterminateProgress = false
        // this.parentContainer = 'downloaded'
        this.downloadDone = true
      }
    })
    EventBus.$on('DOWNLOAD_PROGRESS', (data) => {
      if (data.id === this.asset.assetId) {
        this.indeterminateProgress = false
        this.downloadProgress = data.value
      }
    })
    EventBus.$on('MODEL_IN_RHINO', (data) => {
      if (data === this.asset.assetId) {
        this.indeterminateProgress = false
        this.addingModel = false
      }
    })
  }
}
</script>

<style>

</style>
