<template>
  <div>
    <v-menu
      :v-model="showMenu"
      :position-x="x"
      :position-y="y"
      absolute
      offset-y
    >
      <v-list>
        <v-list-tile
          v-for="(item, index) in items"
          :key="index"
          @click="convertToMaterial"
        >
          <v-list-tile-title style="font-size: 0.8em">{{
            item.title
          }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-snackbar v-model="materialMade" :timeout="6000">
      Rhino material created.
      <v-btn color="pink" flat @click="materialMade = false"> Close </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: 'MaterialContextMenu',
  props: {
    url: String,
    x: Number,
    y: Number,
    showMenu: Boolean
  },
  data: () => ({
    materialMade: false,
    x: 0,
    y: 0,
    items: [
      { title: 'Convert to Material' }
    ]
  }),
  methods: {
    convertToMaterial () {
      console.log('convert image to material')
      this.showMenu = false
      this.materialMade = true
      // eslint-disable-next-line
      Interop.createMaterial(this.url)
    }
  },
  mounted () {
    console.log('here')
  }
}
</script>

<style>
</style>
