<template>
    <v-container class="pa-0 ma-0" fluid>
      <v-card v-if="assets.length === 0 && searchSuccess" flat>
          <v-progress-circular indeterminate :size="70" :width="7"></v-progress-circular>
      </v-card>
      <v-container  fluid grid-list-sm :style="{height: windowHeight, 'overflow-y':'auto'}">
          <v-layout row wrap>
            <div v-if="filteredAssets.length === 0 && assets.length > 0 ">No matches in current collection. Try using the search <v-icon>search</v-icon></div>
            <div v-if="!searchSuccess">The search didn't return any matching assets. Try searching with another term <v-icon>search</v-icon></div>
            <div v-for='asset in filteredAssets' :key="asset.assetId">
                <ElementCard :asset="asset" :parentContainer="container"></ElementCard>
            </div>
          </v-layout>
      </v-container>
    </v-container>
</template>

<script>
import { EventBus } from '../eventbus'
import ElementCard from './ElementCard.vue'

export default {
  name: 'QueryResultsFiltered',
  components: {
    ElementCard
  },
  prop: {
    loadingResults: Boolean
  },
  data: () => ({
    dialogCrawl: false,
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    timeout: 2000,
    text: 'V4D Crawl initiated successfully!',
    container: 'result',
    loading: false,
    windowHeight: '300px',
    searchSuccess: true
  }),
  computed: {
    assets () {
      return this.$store.getters.assets
    },
    filteredAssets () {
      if (this.$store.getters.filteredAssets.length === 0 && this.$store.getters.assetOptions.length === 0 && this.$store.getters.textQuery.length === 0) {
        // console.log('assets')
        return this.assets
      }
      if (this.$store.getters.cleared) {
        return this.assets
      }
      console.log('filtered assets')
      return this.$store.getters.filteredAssets
    }
  },
  methods: {
    updateCrawlResult (data) {
      if (data === 'Success') {
        this.$data.snackbar = true
      }
    },
    getWindowHeight (event) {
      this.windowHeight = (document.documentElement.clientHeight - 200) + 'px'
      console.log(this.windowHeight)
    }
  },
  mounted () {
    this.loadingResults = true
    EventBus.$on('CRAWL_RESULT', (data) => {
      this.updateCrawlResult(data)
      EventBus.$emit('STOP_LOADER', '')
    })
    EventBus.$on('LOADING_RESULTS', (data) => {
      console.log(data)
    })
    EventBus.$on('SEARCH_FAILED', () => {
      this.searchSuccess = false
    })
    EventBus.$on('SEARCH_STARTED', () => {
      this.searchSuccess = true
    })
    this.$nextTick(function () {
      window.addEventListener('resize', this.getWindowHeight)
      // Init
      this.getWindowHeight()
    })
  }
}
</script>

<style>

</style>
