<template>
  <v-container class="pa-0 ma-0">
      <v-form>
          <v-text-field
            v-model="textQuery"
            label="Search or Filter"
            prepend-inner-icon="input"
            append-outer-icon="search"
            @input="filteredItems"
            @click:append-outer="searchV4D"
            clearable
            @click:clear="clearSearch"
            clear-icon="clear"
            hint="Enter a query term to filter or search for assets"
            persistent-hint
            @keypress.enter.prevent
          ></v-text-field>
      </v-form>
      <AdvancedQuery />
  </v-container>
</template>

<script>
import { EventBus } from '../eventbus'
import AdvancedQuery from './AdvancedQuery'
export default {
  name: 'Query',
  components: {
    AdvancedQuery
  },
  data: () => ({
    textQuery: '',
    tags: [],
    items: [],
    search: null,
    loader: null,
    loading: false,
    showAdvanced: false
  }),
  methods: {
    pasted () {
      this.$nextTick(() => {
        this.tags.push(...this.search.split(','))
        this.$nextTick(() => {
          this.search = ''
        })
      })
    },
    printItems () {
      // console.log('tags', this.tags)
      // console.log('items', this.items)
    },
    updateTags (data) {
      // console.log('updating tags' + data)
      this.items.push(data)
    },
    clearSearch () {
      this.textQuery = ''
    },
    filteredItems () {
      if (this.textQuery === null) this.textQuery = ''
      this.$store.commit('FILTER_TEXT', { 'query': 'search', 'text': this.textQuery })
      if (this.$store.getters.hasOptions) {
        this.$store.commit('FILTER_OPTIONS', { 'query': 'options', 'options': null })
      }
    },
    searchV4D () {
      console.log('do a search!')
      if (this.textQuery === null || this.textQuery.length === 0) {
        EventBus.$emit('LOADING_RESULTS', true)
        // eslint-disable-next-line
        this.$store.commit('GET_LATEST')
        return
      }
      this.$store.commit('FILTER_TEXT', { 'query': 'search', 'text': '' })
      if (this.textQuery !== '') {
        const args = {
          'page': 0,
          'count': 100,
          'searchTerm': this.textQuery,
          'filterBy': null,
          'name': null,
          'description': null,
          'location': null,
          'style': null,
          '_abstract': null,
          'comment': null,
          'building': null
        }
        this.$store.commit('SEARCH_V4D', args)
        this.textQuery = ''
      }
    }
  },
  computed: {
    assets () {
      return this.$store.getters.assets
    }
  },
  watch: {
    loader () {
      const l = this.loader
      this[l] = !this[l]
      // setTimeout(() => (this[l] = false), 3000)
      this.loader = null

      let q = {
        text: this.textQuery,
        tags: this.tags
      }

      // eslint-disable-next-line
      Interop.doQuery(q)
    },
    tags () {
      return this.$store.getters.tags
    }
  },
  mounted () {
    EventBus.$on('STOP_LOADER', (data) => {
      this.loading = false
    })
    EventBus.$on('UPDATE_TAGS', (data) => {
      this.updateTags(data)
    })
  }
}
</script>

<style>

</style>
