<template>
    <div>
        <div><Query/></div>
    </div>
</template>

<script>
import Query from './Query.vue'
export default {
  name: 'QueryForm',
  components: {
    Query
  }
}
</script>

<style>

</style>
