<template>
  <v-container>
    <v-card v-if="assets.length == 0" flat>
        <v-progress-circular indeterminate :size="70" :width="7"></v-progress-circular>
    </v-card>
    <v-layout>
      <v-flex flexbox>
        <v-card flat>
            <v-container fluid grid-list-md>
                <v-layout row wrap>
                <template v-for='asset in assets'>
                    <ResultElelement :key="asset.id" :asset="asset" :parentContainer="container"></ResultElelement>
                </template>
                </v-layout>
            </v-container>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialogCrawl" max-width="500px">
      <v-card>
        <v-card-title>
          <span>Dialog 3</span>
        </v-card-title>
        <v-card-actions>
          <v-btn color="primary" flat @click="dialogCrawl=false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
        v-model="snackbar"
        :bottom="y === 'bottom'"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
      >
        {{ text }}
        <v-btn
          color="pink"
          flat
          @click="snackbar = false"
        >
          Close
        </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import { EventBus } from '../eventbus'
import ResultElelement from './ElementCard.vue'

export default {
  name: 'QueryResults',
  components: {
    ResultElelement
  },
  prop: {
    loadingResults: Boolean
  },
  data: () => ({
    dialogCrawl: false,
    snackbar: false,
    y: 'top',
    x: null,
    mode: '',
    timeout: 2000,
    text: 'V4D Crawl initiated successfully!',
    container: 'result',
    loading: false
  }),
  computed: {
    assets () {
      return this.$store.getters.assets
    }
  },
  methods: {
    updateCrawlResult (data) {
      if (data === 'Success') {
        this.$data.snackbar = true
      }
    }
  },
  mounted () {
    this.loadingResults = true
    console.log(this.assets.length)
    EventBus.$on('CRAWL_RESULT', (data) => {
      this.updateCrawlResult(data)
      EventBus.$emit('STOP_LOADER', '')
    })
    EventBus.$on('LOADING_RESULTS', (data) => {
      console.log(data)
    })
  }
}
</script>

<style>

</style>
