<template>
  <v-dialog v-model="visible" hide-overlay transition="dialog-transition" class="pop">
    <v-card>
      <v-card-title>
          <span class="headline">Rate and Comment</span>
        </v-card-title>
        <v-card-text>
                  Rate this asset:
                  <v-rating
                  color="yellow"
                  background-color="grey lighten-1"
                  v-model="rating"
                  empty-icon="star_rate"
                  full-icon="star_rate"
                  hover
                  >
                  </v-rating>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Comment" hint="comment on this asset" v-model="comment"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="black darken-1" flat @click="show = false">Cancel</v-btn>
          <v-btn color="black darken-1" flat @click="submit">Submit</v-btn>
        </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'Rate',
  props: {
    visible: Boolean,
    asset: Object
  },
  data () {
    return {
      comment: null,
      rating: 0
    }
  },
  methods: {
    submit () {
      // eslint-disable-next-line
      Interop.rate( {assetId: this.asset.assetId, rating: this.rating, comment: this.comment })
      this.show = false
    }
  },
  computed: {
    show: {
      get () {
        return this.visible
      },
      set (value) {
        if (!value) {
          this.$emit('close')
          // console.log(this.parentContainer)
        } else {
          // console.log(this.parentContainer)
        }
      }
    }
  }
}
</script>

<style>

</style>
