<template>
  <v-container fluid="true" grid-list-md>
    <v-layout wrap align-center>
      <v-btn
          :disabled="isDisabled"
          @click="reconstruct"
          >
          Reconstruct
      </v-btn>
      <!--
      <v-select
            :disabled="isDisabled"
            :items="items"
            label="Style"
            attach
            chips
            multiple
            v-model="selected"
      >
      </v-select>
      -->
    </v-layout>
    <v-layout row wrap>
      <v-flex
        v-for='(shot,index) in asset.shots'
        :key="index"
        xs2
        class="cardHover"
        @click="toggleSelected"
        :id="'id_' + index"
      >
        <Shot :shot="shot" />
      </v-flex>
    </v-layout>
    <v-snackbar
      v-model="reconstructionResult"
      :timeout=6000
    >
      Reconstruction request sent.
      <v-btn
        color="pink"
        flat
        @click="reconstructionResult = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import Shot from './Shot.vue'
// import { EventBus } from '../eventbus'
export default {
  name: 'ShotsContainer',
  components: {
    Shot
  },
  props: {
    asset: Object
  },
  data () {
    return {
      selectedShot: null,
      valid: false,
      selectedElement: null,
      items: ['Art Deco', 'Baroque', 'Bauhaus', 'None', 'Gothic', 'Deconstructuvism', 'Rennaisance', 'Rococo', 'Ionic Order', 'Art Nouveau', 'Neoclassical', 'Hellinistic', 'Corinthian Order', 'Postmodernism', 'Early Roman'],
      selected: [],
      reconstructionResult: false
    }
  },
  computed: {
    isDisabled: function () {
      if (this.$data.selectedShot !== null) {
        return false
      } else {
        return true
      }
    }
  },
  mounted () {},
  methods: {
    toggleSelected: function (event) {
      let el = document.getElementsByClassName('selected')[0]
      let currEl = event.currentTarget
      if (el === currEl) {
        // same element has been clicked
        currEl.classList.toggle('selected')
        this.$data.selectedShot = null
      } else if (el === undefined) {
        // no element has been selected
        currEl.classList.toggle('selected')
        let index = parseInt(event.currentTarget.id.substring(3))
        this.$data.selectedShot = { id: index, shot: this.asset.shots[index] }
      } else {
        // there is an existing element selected
        el.classList.toggle('selected')
        currEl.classList.toggle('selected')
        let index = parseInt(event.currentTarget.id.substring(3))
        this.$data.selectedShot = { id: index, shot: this.asset.shots[index] }
      }
    },
    reconstruct: function () {
      // eslint-disable-next-line
      Interop.reconstruct({id: this.asset.assetId, shot: this.selectedShot, style:null})
        .then(result => {
          if (result === 'Success') {
            this.reconstructionResult = true
          }
        })
    }
  }
}
</script>

<style scoped>
.cardHover:hover, .selected {
  background-color: black;
}

</style>
