<template>
  <v-container fluid="true" grid-list-md>
    <v-layout wrap align-center>
      <v-btn
          :disabled="isDisabled"
          @click="setTexture"
          >
          Set Texture
      </v-btn>
      <v-btn
          :disabled="isDisabled"
          @click="clearTexture"
          >
          Clear Texture
      </v-btn>
    </v-layout>
    <v-layout row wrap>
      <v-flex
        v-for='(texture,index) in asset.textures'
        :key="index"
        xs2
        class="cardHover"
        @click="toggleSelected"
        :id="'id_' + index"
      >
        <Texture :texture="texture" />
      </v-flex>
    </v-layout>
    <v-snackbar
      v-model="setTextureResult"
      :timeout=6000
    >
      Set Texture.
      <v-btn
        color="pink"
        flat
        @click="setTextureResult = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import Texture from './Texture.vue'
// import { EventBus } from '../eventbus'
export default {
  name: 'TexturesContainer',
  components: {
    Texture
  },
  props: {
    asset: Object
  },
  data () {
    return {
      selectedTexture: null,
      valid: false,
      selectedElement: null,
      items: ['Art Deco', 'Baroque', 'Bauhaus', 'None', 'Gothic', 'Deconstructuvism', 'Rennaisance', 'Rococo', 'Ionic Order', 'Art Nouveau', 'Neoclassical', 'Hellinistic', 'Corinthian Order', 'Postmodernism', 'Early Roman'],
      selected: [],
      setTextureResult: false
    }
  },
  computed: {
    isDisabled: function () {
      if (this.selectedTexture !== null) {
        return false
      } else {
        return true
      }
    }
  },
  mounted () {},
  methods: {
    toggleSelected: function (event) {
      // console.log(event)
      let el = document.getElementsByClassName('selected')[0]
      let currEl = event.currentTarget
      if (el === currEl) {
        // same element has been clicked
        currEl.classList.toggle('selected')
        this.selectedTexture = null
      } else if (el === undefined) {
        // no element has been selected
        currEl.classList.toggle('selected')
        const index = parseInt(event.currentTarget.id.substring(3))
        console.log(index + 1)
        this.selectedTexture = { id: index + 1, texture: this.asset.textures[index] }
      } else {
        // there is an existing element selected
        el.classList.toggle('selected')
        currEl.classList.toggle('selected')
        const index = parseInt(event.currentTarget.id.substring(3))
        console.log(index + 1)
        this.selectedTexture = { id: index + 1, texture: this.asset.textures[index] }
      }
    },
    setTexture: function () {
      console.log('setting texture')
      // eslint-disable-next-line
      Interop.setTexture({id: this.asset.assetId, textureId: this.selectedTexture.id})
        .then(result => {
          if (result === null) {
            this.setTextureResult = true
          }
        })
    },
    clearTexture: function () {
      // eslint-disable-next-line
      Interop.setTexture({id: this.asset.assetId, textureId: 0})
        .then(result => {
          if (result === null) {
            this.setTextureResult = true
          }
        })
    }
  }
}
</script>

<style scoped>
.cardHover:hover, .selected {
  background-color: black;
}

</style>
