<template>

    <v-card flat tile v-observe-visibility="{
      callback: visibilityChanged,
      once: true,
    }">
      <v-img
        :src="texture.thumbnailUrl"
        :lazy-src="texture.thumbnailUrl"
        height="100px"
        aspect-ratio="1"
        style="cursor:pointer;"
        @contextmenu.native="handler"
      >
      </v-img>
      <v-menu
          v-model="showMenu"
          :position-x="x"
          :position-y="y"
          absolute
          offset-y
        >
        <v-list>
          <v-list-tile
            v-for="(item, index) in items"
            :key="index"
            @click="convertToMaterial"
          >
            <v-list-tile-title  style="font-size: 0.8em;">{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    <v-snackbar
      v-model="materialMade"
      :timeout=6000
    >
      Rhino material created.
      <v-btn
        color="pink"
        flat
        @click="materialMade = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    </v-card>

</template>

<script>
export default {
  name: 'Texture',
  props: {
    texture: Object
  },
  data: () => ({
    selected: false,
    showMenu: false,
    x: null,
    y: null,
    materialMade: false,
    items: [
      { title: 'Convert to Material' }
    ]
  }),
  methods: {
    toggleSelected () {
      this.selected = !this.selected
      console.log('clickedSelected')
    },
    visibilityChanged (isVisible, entry) {
      this.isVisible = isVisible
      // console.log(entry)
    },
    handler: function (e) {
      console.log('rightclick!')
      e.preventDefault()
      this.showMenu = false
      this.x = e.clientX
      this.y = e.clientY
      this.$nextTick(() => {
        this.showMenu = true
      })
    },
    convertToMaterial () {
      console.log('convert image to material')
      this.showMenu = false
      this.materialMade = true
      // eslint-disable-next-line
      Interop.createMaterial(this.texture.thumbnailUrl)
    }
  }
}
</script>

<style scoped>
.cardHover:hover .selected {
  background-color:deeppink;
}

</style>
