<template>
      <v-container>
         <v-img :src="require('../assets/V4D_Logo_Official_2018-01.png')" width="150"></v-img>
         <h2>V4Design</h2>
         <div>Visual and textual content re-purposing FOR(4) architecture, Design and virtual reality games</div>
                <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                >
                <v-card flat>
                    <v-text-field
                        v-model="username"
                        :counter="10"
                        :rules="usernameRules"
                        label="UserName"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="password"
                        :append-icon="show1 ? 'visibility' : 'visibility_off'"
                        :rules="passwordRules"
                        :type="show1 ? 'text' : 'password'"
                        name="input-10-1"
                        label="Password"
                        required
                        @click:append="show1 = !show1"
                    ></v-text-field>

                    <v-btn
                        :disabled="!valid"
                        @click="auth(false)"
                        >
                        Login
                    </v-btn>

                    <v-btn
                        :disabled="!valid"
                        @click="auth(true)"
                        >
                        Register
                    </v-btn>
                    <div >
                        <v-alert
                          :value="alert"
                          type="error"
                          transition="scale-transition"
                          color="error"
                          icon="warning"
                          outline
                        >
                          Something went wrong. Please try again.
                        </v-alert>
                    </div>
                    </v-card>
                </v-form>
                <v-container>
                <a href="https://v4design.eu" target="blank">https://v4design.eu</a>
                <div>This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 779962</div>
                <br>
                <h6>Version: {{c_version}} </h6>
        </v-container>
      </v-container>
</template>

<script>
import { EventBus } from '../eventbus'
export default {
  name: 'UserAuth',
  props: {
    visible: Boolean
  },
  data () {
    return {
      valid: true,
      show1: false,
      alert: false,
      username: '',
      usernameRules: [
        v => !!v || 'UserName is required',
        v => (v && v.length > 6) || 'Name must be greater than 6 characters'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length > 6) || 'Password must be greater than 6 characters'
      ]
    }
  },
  methods: {
    auth (register) {
      if (this.$refs.form.validate()) {
        // eslint-disable-next-line
        Interop.auth(this.username, this.password, register)
          .then(result => {
            if (result === 'Success') {
              this.alert = false
              EventBus.$emit('LOADING_RESULTS', true)
              this.$store.commit('GET_LATEST')
              // emit something to show some loader in QueryResult
              this.$emit('authOk')
            } else {
              console.log('loginFailed')
              // this.$emit('loginFailed')
              this.alert = true
            }
          })
      }
    }
  },
  computed: {
    c_version () {
      return this.$store.getters.version
    }
  }
}
</script>

<style>

</style>
